/*Resetting CSS*/

*{
    padding: 0;
    margin: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

div{
    display: inline-block;
}

/*Navegation Bar*/

#navegation-bar{
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    position: fixed;
    z-index: 1;
    top: 0px;
}

#navegation-bar:hover{
    background: linear-gradient(rgba(157, 82, 72, 0.668), rgba(255, 255, 255, 0));
    transition: 1s;
}

#navegation-bar a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

#left-icon{
    padding-left: 16px;
    margin-right: 150px;
}

#main-logo img{
    height: 45px;
    width: 250px;
    object-fit: contain;
}

#right-hand-logos-list{
    padding-right: 25px;
    list-style-type: none;
    display: flex;
    gap: 25px;
    align-content: middle;
}

#bag-icon{
    height: 15px;
}

@media (min-width: 300px) and (max-width: 550px){

#navegation-bar a{
    font-size: 16px;
}

#left-icon{
    padding-left: 16px;
    margin-right: 0px;
}

#main-logo img{
    height: 37px;
    width: 180px;
}

#right-hand-logos-list{
    gap: 10px;
}

}

/*Main video block*/

#video-block{
    width: 100%;
    z-index: 0;
    position: relative;
    margin-bottom: 100px;
    background-color: rgb(246, 241, 222);
}

#video-one{
    width: 100%;
}

#div-discover-button{
    Position: absolute;
    display: flex;
    flex-direction: column;
    width: 112px;
    text-align: center;
    bottom: 25%;
    left: 47%;
}

#div-discover-button a{
    text-decoration: none;
    color: black;
    font-style:oblique;
    font-weight: bold;
    font-size: 28px;
    line-height: 15px;
}

@media (min-width: 300px) and (max-width: 550px){
    #video-block{
        width: 100%;
        height: 100vh;
    }
    
    #video-one{
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    #div-discover-button{
        width: 112px;
        height: 30px;
        bottom: 15%;
        left: 37%;
    }
}

@media (min-width: 750px) and (max-width: 1000px){
    #video-block{
        width: 100%;
        height: 1180px;
    }
    
    #video-one{
        width: 100%;
        height: 1180px;
        object-fit: cover;
    }

    #div-discover-button{
        width: 112px;
        height: 30px;
        bottom: 10%;
        left: 43%;
    }
}

/*Middle main page block*/

#middle-page{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 30px;
    background-color: rgb(246, 241, 222);
}

.mid-page-models, .mid-page-models img{
    width: 100%;
}

.mid-page-models{
    position: relative;
}

.discover-men-women-buttons{
    position: absolute;
    bottom: 30%;
    right: 43%;
}

.discover-men-women-buttons a{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.864);
    color: black;
    padding: 8px 12px 8px 12px;
    border-radius: 20px;
}

@media (min-width: 300px) and (max-width: 550px){
    #middle-page{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 30px;
    }
    
    .discover-men-women-buttons{
        bottom: 20%;
        right: 30%;
    }
}

@media (min-width: 750px) and (max-width: 1000px){
    #middle-page{
        height: 900px;
    }
    
    .mid-page-models, .mid-page-models img{
        width: 100%;
    }
    
    .mid-page-models{
        position: relative;
    }
    
    .discover-men-women-buttons{
        position: absolute;
        bottom: 10%;
        right: 33%;
    }
    
    .discover-men-women-buttons a{
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.864);
        color: black;
        padding: 8px 12px 8px 12px;
        border-radius: 20px;
    }
}

/*Services Block*/

section h2{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#div-services{
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(246, 241, 222);
}

.services-image-blocks{
    width: 500px;
}

.services-image-blocks img{
    width: 100%;
    height: 280px;
    margin-bottom: 10px;
}

.services-image-description h3, .services-image-description p, .services-image-description a{
    margin-bottom: 12px;
}

.services-image-blocks p{
    width: 100%;
    line-height: 20px;
}

.services-image-description a{
    text-decoration: none;
    color: black;
}

.services-image-description a:hover{
    text-decoration: underline;
}

@media (min-width: 300px) and (max-width: 550px){
    #div-services{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .services-image-blocks{
        width: 100%;
        margin-bottom: 40px;
        padding: 20px 20px 20px 20px;

    }
    
    .services-image-blocks img{
        width: 100%;
        height: 230px;
        object-fit: cover;
    }

    .services-image-blocks p{
        width: 95%;
        line-height: 20px;
    }
}

@media (min-width: 750px) and (max-width: 1000px){
    #div-services{
        width: 100%;
    }

    .services-image-blocks{
        width: 100%;
        padding: 20px 20px 20px 20px;
    }
    
    .services-image-blocks img{
        width: 100%;
        height: 230px;
    }

    .services-image-blocks p{
        width: 95%;
        line-height: 20px;
    }
}

/*Footer*/

#div-footer{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: rgb(157, 82, 72);
    padding: 15px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.footer-section{
    padding: 15px;
}

.iframe-footer{
    height: 150px; 
    width: 250px; 
    margin-top: 20px; 
    margin-bottom: 20px;
}

#find-store-a-footer:hover {
    text-decoration: underline;
}

#div-footer a, #div-footer p, #div-footer h3{
    text-decoration: none;
    color: white;
}

#div-footer h3{
    margin-bottom: 10px;
}

#div-footer ul{
    list-style-type: none;
    line-height: 25px;
}

#newsletter-input{
    margin-top: 8px;
    margin-bottom: 20px;
    width: 70%;
}

#newsletter-input input{
    margin-right: -5px;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid gray;
    width: 70%;
}

#newsletter-input button{
    padding: 7px;
    border-radius: 3px;
    border: 1px solid gray;
    width: 30%;
}

#social-media-icons{
    display: flex;
    gap: 35px;
    height: 15px;
    width: 15px;
}

#social-media-icons img{
    object-fit: contain;
    height: 15px;
    width: 15px;
}

.right-hand-underfooter-minilogos{
    height: 20px;
    width: 20px;
    object-fit: contain;
}

@media (min-width: 300px) and (max-width: 550px){
    #div-footer{
        width: 100%;
        height: 1050px;
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 750px) and (max-width: 1000px){
    #div-footer{
        font-size: 13px;
        width: 100%;
        height: 320px;
    }

    #div-footer h3{
        font-size: 14px;
    }

    .iframe-footer{
        height: 115px; 
        width: 170px; 
    }
    
    #newsletter-input{
        width: 100%;
    }
    
    #newsletter-input input{    
        width: 50%;
        font-size: 10px;
    }
    
    #newsletter-input button{
        padding: 7px;
        width: 50%;
        font-size: 10px;
    }
    
    #social-media-icons{
        gap: 10px;
    }
}

@media (min-width: 1001px){
    #newsletter-input{
        width: 100%;
    }
    
    #newsletter-input input{    
        width: 50%;
        font-size: 10px;
    }
    
    #newsletter-input button{
        padding: 7px;
        width: 50%;
        font-size: 10px;
    }
}

/*under-footer*/

#div-under-footer{
    height: 80px;
    background-color: rgb(157, 82, 72);
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.left-hand-underfooter-logo{
    width: 200px;
    margin-left: 15px;   
}

.left-hand-underfooter-logo img{
    width: 200px;
    height: 70px;
    object-fit: contain;
}

.right-hand-underfooter-logos{
    margin-right: 25px;
}

.right-hand-underfooter-logos ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.right-hand-underfooter-minilogos{
    height: 20px;
    width: 20px;
}

@media (min-width: 300px) and (max-width: 550px){
    #div-under-footer{
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .left-hand-underfooter-logo{
        width: 100px;
        margin-left: 8px;  
    }
    
    .left-hand-underfooter-logo img{
        width: 100px;
        height: 20px;
        object-fit: contain;
    }

    .middle-underfooter-div p{
        font-size: 8px;
    }
    
    .right-hand-underfooter-logos{
        font-size: 8px;
    }
    
    .right-hand-underfooter-logos ul{
        gap: 13px;
    }
    
    .right-hand-underfooter-minilogos{
        height: 8px;
        width: 8px;
    }
}

/*First line*/

.discover-women-men{
    height: 70px;
    background-color: rgb(157, 82, 72);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.discover-divs{
    padding-left: 20px;
    padding-right: 20px;
}

.discover-divs h1{
    font-size: 20px;
    color: white;
    font-weight: lighter;
    
}

.discover-divs button{
    padding: 10px 15px;
    border-radius: 45%;
    border-width: 1px;
    background-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    cursor: pointer;
}

@media (min-width: 300px) and (max-width: 550px)
{
    .discover-women-men{
        height: 55px;
    }

    .discover-women-men h1{
        font-size: 17px;
    }

    .discover-divs button{
        font-size: 12px;
    }
}

/*Article blocks*/

.grid-container{
        
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 2fr;
    
}

.grid-container-type-two{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: -2px;
    height: 770px;
    margin-bottom: 60px;

}

.model-div img{
    width: 100%;
    height: 100%;
}

.article-grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

.article
{
    padding: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    background: linear-gradient(rgba(157, 82, 72, 0.279), beige);
    border: 1px solid rgb(157, 82, 72);
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.description{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#second-grid-container{
    margin-top: -2px;
}

@media (min-width: 300px) and (max-width: 550px) {
    .grid-container{
    grid-template-columns: 1fr;
    
}

.grid-container-type-two{
    grid-template-columns: 1fr 1fr;
}

#second-grid-container{
    display: flex;
    flex-direction: column-reverse;
}

.description{
    font-size: 12px;
    text-align: center;
}
}

/*View more button*/

.view-more-button{
    margin: 30px 0px 30px 0px;
    display: flex;
    justify-content: center;
}

.view-more-button a{
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    line-height: 15px;
}

/*Special Wrapping Page*/

#special-wrapping-body, #special-wrapping-body img{
    height: 100vh;
    width: 100%;
}

#special-wrapping-block{
    padding: 60px;
    display: flex;
    flex-direction: column;
}

#special-wrapping-block h1{
    line-height: 22px;
    margin-bottom: 20px;
}

#special-wrapping-block p{
    font-size: 18px;
    margin-bottom: 30px;
}

#flex-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.special-wrapping-images-block{
    width: 430px;
    height: 300px;
    text-align: center;
    background-color: gray;
    margin-bottom: 50px;
}

.special-wrapping-images-block img{
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    object-position: bottom;
}

.special-wrapping-images-block h4{
    font-size: 20px;
}

@media (min-width: 300px) and (max-width: 550px){
    #flex-div{
        flex-direction: column;
    }

    #special-wrapping-block{
        padding: 40px;
    }

    .special-wrapping-images-block{
        width: 100%;
        height: 300px;
        margin-bottom: 70px;
    }
    
    .special-wrapping-images-block img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 750px) and (max-width: 1000px){
    #special-wrapping-block{
        padding: 50px 40px 50px 40px;
    }
}

/*Tailoring and customization page*/

.tailor-custo-title{
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 20px 20px 20px 30px;
    background-color: rgb(157, 82, 72);
    color: white;
    font-size: 14px;
}

#div-personal-tailoring{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 160px;
}

.sub-block-tailoring {
    height: 600px;
    width: 400px;
}

.sub-block-tailoring img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    margin-bottom: 15px;
}

.sub-block-tailoring p{
    font-size: 20px;
    text-align: justify;
    line-height: 25px;
}

#locate-retailer-button{
    display: flex;
    justify-content: center;
    margin-bottom: 50px; 
}

#locate-retailer-button a{
    width: 225px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center;
}

#customization-introduction{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 20px;
}

#customization-introduction div{
    width: 45%;
    font-size: 18px;
}

#customization-introduction div img{
    width: 80%;
}

#video-made-to-order{
    width: 100%;
}

#video-2{
    width: 100%;
    margin-bottom: 30px;
}

#custo-start-button{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#custo-start-button a{
    width: 45px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center;
    line-height: 15px;
}

@media (min-width: 300px) and (max-width: 550px){
    #div-personal-tailoring{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 170px;
    }

    .sub-block-tailoring {
        height: 600px;
        width: 85%;
        margin-bottom: 30px;
    }
    
    .sub-block-tailoring img{
        height: 100%;
        width: 100%;
        margin-bottom: 15px;
    }

    #customization-introduction div{
        width: 80%;
        font-size: 18px;
    }
    
    #customization-introduction div img{
        width: 100%;
    }
    
    #video-made-to-order{ 
        width: 100%;
        height: 65vh;
    }
    
    #video-2{ 
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 750px) and (max-width: 1000px){
    #div-personal-tailoring{
        margin-bottom: 250px;
    }
    
    .sub-block-tailoring {
        height: 600px;
        width: 33%;
    }
    
    .sub-block-tailoring p{
        width: 90%;
        padding-left: 12px;
    }

    #customization-introduction div{
        width: 80%;
        font-size: 18px;
    }
    
    #customization-introduction div img{
        width: 100%;
    }
}

@media (min-width: 1001px){
    .sub-block-tailoring p{
        width: 90%;
        padding-left: 12px;
    }
}