#div-footer{
    width: $full-width;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: $primary-color;
    padding: 15px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.footer-section{
    padding: 15px;

    h3{
        color: white;
        margin-bottom: 10px;
        font-size: 20px;
    }

    iframe{
        height: 150px; 
        width: 200px; 
        margin-top: 20px; 
        margin-bottom: 20px;
    }

    ul{
        list-style-type: none;
        line-height: 30px;
        padding: 0;

        li{
            transition: 500ms;

            &:hover{
                transform: translateX(8px);
            }
        }
    }

    a{
        text-decoration: none;
        color: white;
    }

    p{
        color: white;
    }

}

#find-store-a-footer{
    transition: 800ms;

    &:hover{
        text-decoration: underline;
    }
}

#newsletter-input{
    margin: 15px 0 20px 0;
    width: 100%;

    input{
        width: 60%;
        border: 1px solid gray;
        margin-right: -5px;
        padding: 7px;
        border-radius: 3px;
    }

    button{
        width: 40%;
        padding: 7px;
        border-radius: 3px;
        border: 1px solid gray;
    }
}

#social-media-icons{
    display: flex;
    gap: 35px;
    height: 15px;
    width: 15px;

    img{
        object-fit: contain;
        height: 15px;
        width: 15px;
    }
}

@media (min-width: 300px) and (max-width: 550px){
    #div-footer{
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 750px) and (max-width: 1000px){
    #div-footer{
        font-size: 13px;
        height: auto;
    }

    .footer-section{
        h3{
            font-size: 14px;
        }

        iframe{
            width: 150px;
            height: 130px;
        }
    }

    #newsletter-input{
        input{
            font-size: 8px;
            width: 55%;
        }
        
        button{ 
            font-size: 8px;
            width: 45%;
        }
    }

    #social-media-icons{
        gap: 10px;
    }
}

@media (min-width: 1001px) and (max-width: 1300px){
    #newsletter-input{
        input{
            font-size: 10px;
            width: 45%;
        }
        
        button{ 
            font-size: 10px;
            width: 55%;
        }
    }
}